/* Fonts
* ===============
*
* Place all your font declarations here */

@font-face {
    font-family: Vazir;
    src: url('./assest/font/Vazir-Regular.eot');
    src: url('./assest/font/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
         url('./assest/font/Vazir-Regular.woff2') format('woff2'),
         url('./assest/font/Vazir-Regular.woff') format('woff'),
         url('./assest/font/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./assest/font/Vazir-Bold.eot');
    src: url('./assest/font/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('./assest/font/Vazir-Bold.woff2') format('woff2'),
         url('./assest/font/Vazir-Bold.woff') format('woff'),
         url('./assest/font/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./assest/font/Vazir-Black.eot');
    src: url('./assest/font/Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('./assest/font/Vazir-Black.woff2') format('woff2'),
         url('./assest/font/Vazir-Black.woff') format('woff'),
         url('./assest/font/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./assest/font/Vazir-Medium.eot');
    src: url('./assest/font/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('./assest/font/Vazir-Medium.woff2') format('woff2'),
         url('./assest/font/Vazir-Medium.woff') format('woff'),
         url('./assest/font/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./assest/font/Vazir-Light.eot');
    src: url('./assest/font/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('./assest/font/Vazir-Light.woff2') format('woff2'),
         url('./assest/font/Vazir-Light.woff') format('woff'),
         url('./assest/font/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./assest/font/Vazir-Thin.eot');
    src: url('./assest/font/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('./assest/font/Vazir-Thin.woff2') format('woff2'),
         url('./assest/font/Vazir-Thin.woff') format('woff'),
         url('./assest/font/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}





@font-face {
    font-family: VazirPersian;
    src: url('./assest/font/Farsi-Digits/Vazir-Regular-FD.eot');
    src: url('./assest/font/Farsi-Digits/Vazir-Regular-FD.eot?#iefix') format('embedded-opentype'),
         url('./assest/font/Farsi-Digits/Vazir-Regular-FD.woff2') format('woff2'),
         url('./assest/font/Farsi-Digits/Vazir-Regular-FD.woff') format('woff'),
         url('./assest/font/Farsi-Digits/Vazir-Regular-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: VazirPersian;
    src: url('./assest/font/Farsi-Digits/Vazir-Bold-FD.eot');
    src: url('./assest/font/Farsi-Digits/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
         url('./assest/font/Farsi-Digits/Vazir-Bold-FD.woff2') format('woff2'),
         url('./assest/font/Farsi-Digits/Vazir-Bold-FD.woff') format('woff'),
         url('./assest/font/Farsi-Digits/Vazir-Bold-FD.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: VazirPersian;
    src: url('./assest/font/Farsi-Digits/Vazir-Black-FD.eot');
    src: url('./assest/font/Farsi-Digits/Vazir-Black-FD.eot?#iefix') format('embedded-opentype'),
         url('./assest/font/Farsi-Digits/Vazir-Black-FD.woff2') format('woff2'),
         url('./assest/font/Farsi-Digits/Vazir-Black-FD.woff') format('woff'),
         url('./assest/font/Farsi-Digits/Vazir-Black-FD.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: VazirPersian;
    src: url('./assest/font/Farsi-Digits/Vazir-Medium-FD.eot');
    src: url('./assest/font/Farsi-Digits/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
         url('./assest/font/Farsi-Digits/Vazir-Medium-FD.woff2') format('woff2'),
         url('./assest/font/Farsi-Digits/Vazir-Medium-FD.woff') format('woff'),
         url('./assest/font/Farsi-Digits/Vazir-Medium-FD.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: VazirPersian;
    src: url('./assest/font/Farsi-Digits/Vazir-Light-FD.eot');
    src: url('./assest/font/Farsi-Digits/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
         url('./assest/font/Farsi-Digits/Vazir-Light-FD.woff2') format('woff2'),
         url('./assest/font/Farsi-Digits/Vazir-Light-FD.woff') format('woff'),
         url('./assest/font/Farsi-Digits/Vazir-Light-FD.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: VazirPersian;
    src: url('./assest/font/Farsi-Digits/Vazir-Thin-FD.eot');
    src: url('./assest/font/Farsi-Digits/Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'),
         url('./assest/font/Farsi-Digits/Vazir-Thin-FD.woff2') format('woff2'),
         url('./assest/font/Farsi-Digits/Vazir-Thin-FD.woff') format('woff'),
         url('./assest/font/Farsi-Digits/Vazir-Thin-FD.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
